<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techxmind.tmsdk">

    <application android:label="@string/app_name" android:name=".App">
        <activity android:name=".Order"></activity>
        <activity android:name=".OrderList" />
        <activity android:name=".Goods" />
        <activity android:name=".GoodsList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>